<nav id="sidebar">
  <div class="sideNav-pc">
    <a href="#" class="home-active">Home</a>
    <a href="service">Services</a>
    <a href="new">News</a>
    <a href="blog">Blog</a>
    <a href="contact">Contacts</a>
  </div>
</nav>
<label for="nav-mobile-input" class="sideNav-mobile">
  <i class="fa fa-bars"></i>
</label>
<input type="checkbox" hidden class="nav-input" id="nav-mobile-input" />

<nav class="nav-mobile" id="my-nav-mobile">
  <label for="nav-mobile-input" class="closeNavMobile">
    <p><b>Close Menu</b></p>
  </label>

  <div class="nav-mobile-list">
    <a href="#" >Home</a>
    <a href="#service" > Services </a>
    <a href="#new" > News </a>
    <a href="#blog" > Blog </a>
    <a href="#contact" > Contacts </a>
  </div>
</nav>
